.text-primary {
    color: #33552e !important;
}

.header-border {
    border-bottom: 4px;
    border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
    border-style: solid;
}

.padding-33 {
    padding-top: 33%;
}

.text-blue {
    color: #676ad4;
}

.bg-light-white {
    background-color: #eeeeee;
}

.ecology-border {
    border-right: 2px;
    border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
    border-style: solid;
    text-align: left;
    padding-right: 24px;
}

.cursor-pointer {
    cursor: pointer;
}
.header-shadow {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}
.p-16\:9 {
    padding-top: 56.25%;
}
.p-4\:3 {
    padding-top: 75%;
}
.text-light-gray {
    color: #636363;
}
.rounded {
    border-radius: 10px !important;
}
.card-shadow {
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}
.card-shadow:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.nav-text {
    color: black;
}
.nav-text:hover {
    color: #676ad4;
    font-weight: bold;
}
.nav-open-close {
    display: none;
}
.nav-open-close.active {
    display: flex !important;
}
@media (max-width: 576px) {
    .ecology-border {
        border-right: 0;
        text-align: center;
        padding-right: 0;
    }


}

@media (min-width: 576px) {
    .mx-m-24 {
        margin-left: -24px;
        margin-right: -24px;
    }
}